@page
@model FUNewsManagementSystem.WebRazorPage.Pages.Categories.DeleteModel
@{
    Layout = null;
}

<div>
    <h4>Are you sure you want to delete this category?</h4>

    
    <div>
        <strong>Name: </strong>@Model.Category?.CategoryName
    </div>
   
   
  

    <form method="post" id="deleteForm">
        <!-- Ẩn ID để Handler biết cần xóa ID nào -->
        <input type="hidden" asp-for="CategoryId" />

        <!-- Nút submit sẽ được xử lý bởi JavaScript trong Index.cshtml -->
    </form>
</div>