


@page
@model FUNewsManagementSystem.WebRazorPage.Pages.Tag.CreateModel
@{
    ViewData["Title"] = "Create Tag";
    Layout = null;
}

<div class="container p-4">
    <h4 class="mb-3">Create New Tag</h4>

    <form id="createAccountForm" method="post" action="/Tag/Create">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            
            <label class="form-label">Tag Name</label>
            <input asp-for="Tag.TagName" class="form-control" required />
            <span asp-validation-for="Tag.TagName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Note</label>
            <input asp-for="Tag.Note" class="form-control" required />
            <span asp-validation-for="Tag.Note" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>

    <div id="messageBox" class="mt-3"></div>
</div>
