
@page
@model FUNewsManagementSystem.WebRazorPage.Pages.Tag.EditModel
@{
    ViewData["Title"] = "Edit Tag";
    Layout = null;
}

<form method="post" asp-page="Edit">
    <input type="hidden" asp-for="Tag.TagId" />

    <div class="mb-3">
        <label asp-for="Tag.TagName" class="form-label">Tag Name</label>
        <input asp-for="Tag.TagName" class="form-control" required />
        <span asp-validation-for="Tag.TagName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Tag.Note" class="form-label">Note</label>
        <input asp-for="Tag.Note" class="form-control" required />
        <span asp-validation-for="Tag.Note" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}


