@page
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.RazorPages
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Home Page</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome, @User.Identity.Name!</p>
        <a href="/SystemAccounts/Logout" class="btn btn-danger">Logout</a> 
    }
    else
    {
        <a href="/SystemAccounts/Login" class="btn btn-primary">Login</a>
    }
</div>
